/** @format */
a {
	color: #eee;
	text-decoration: none;
}
button {
	font-family: "Apple SD Gothic Neo";
	font-size: 100%;
	font-family: inherit;
	border: 0;
	padding: 0;
	background: transparent;
	box-sizing: content-box;
	cursor: pointer;
}
.zwibbler {
	height: 100vh;
}

.flex-row {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.stretch {
	flex: 1 1 auto;
}

.pad {
	padding: 10px;
}

.logo {
	padding: 13px 16px;
	display: flex;
	justify-content: start;
	border-bottom: 1px solid #545861;
	cursor: pointer;
}
.page-count {
	font-family: "Apple SD Gothic Neo";
	text-align: start;
	font-weight: bold;
	font-size: 12px;
	color: #9ea2a8;
	margin: 16px 16px;
	height: 32px;
	line-height: 32px;
}

.toptoolbar {
	position: absolute;
	left: 0;
	right: 0;
	padding: 20px;
	pointer-events: none;
	div {
		flex: 1;
		display: flex;
	}
	button {
		min-width: 36px;
		height: 36px;
		background: #373c47;
		color: #eee;
		font-size: 14px;
		font-family: "Apple SD Gothic Neo";
		border-radius: 5px;
		&:hover {
			background: #252a35;
		}
	}
	.mybutton {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 5px;
	}
	.toptoolbar-center {
		.mybutton {
			border-radius: 0px;

			&:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
	&-left .download-pdf {
		margin-left: 8px;
		padding: 0 12px;
		width: 50px;
	}
	&-right button {
		margin-right: 8px;
		padding: 0 12px;
	}
}

.toptoolbar .mybutton,
.toptoolbar input {
	pointer-events: all;
	cursor: pointer;
}

.rightToolbar {
	width: 240px;
	background: #383c47;
	color: white;
	.mybutton {
		background: #545861;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		background: #545861;
		div {
			background-size: cover !important;
			width: 20px;
			height: 20px;
		}
		.select-btn {
			background: url("../../images/pages/select-btn.svg") no-repeat;
		}
		.square_draw_btn {
			background: url("../../images/pages/square_draw_btn.svg") no-repeat;
		}
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.selected {
		.select-btn {
			background: url("../../images/pages/select-btn-click.svg") no-repeat;
		}
		// .square_draw_btn {
		// 	background: url("../../images/pages/square_draw_btn-click.svg") no-repeat;
		// }
	}
}

.toptoolbar input {
	background: #383c47;
	border-radius: 5px;
	border: none;
	color: #eee;
	height: 36px;
	box-sizing: border-box;
	width: 55px;
	text-align: right;
	padding-right: 22px;
	&:hover {
		background: #252a35;
	}
}

.mybutton.selected {
	background: #0ccea5;
}

.bottom-bar {
	border-bottom: 1px solid #545861;
}

.zwibbler-page-selector {
	overflow-y: auto;
	background: #383c47;
	width: 200px;
	text-align: center;
}

.zwibbler-page-selector [z-page] {
	border: 3px solid transparent;
	margin: 5px;
	display: inline-block;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.zwibbler-page-selector [z-page].selected,
[z-page]:hover {
	border: 5px solid #9b9ea3;
	border-radius: 5px;
}

.edit-rect > div {
	display: flex;
	width: 105px;
}

.edit-rect input {
	flex: 1 1 auto;
	min-width: 0;
}
.transform {
	padding-bottom: 16px;
	padding-top: 16px;
	&-title {
		text-align: left;
		padding: 0px 0 8px 16px;
		font-size: 13px;
		font-weight: 700;
		color: #f0f1f2;
	}
	&-axis {
		display: flex;
		flex-wrap: wrap;
		div {
			margin: 0 8px;
			width: 104px;
			position: relative;
			border-radius: 5px;
		}
		span {
			font-size: 14px;
			position: absolute;
			top: 5px;
			left: 8px;
			color: #9ea2a8;
		}
		input {
			font-size: 13px;
			width: 104px;
			height: 24px;
			background-color: #373c47;
			border: 0;
			outline: 0;
			padding-left: 30px;
			box-sizing: border-box;
			color: #9ea2a8;
			border-radius: 5px;
			&:hover {
				width: 104px;
				box-sizing: border-box;
				background-color: #555963;
			}
			&:focus {
				background-color: #252a35;
			}
		}
	}
}
.unit {
	color: #9ea2a8;
}
.percent {
	position: absolute;
	right: 8px;
	top: 12px;
	font-size: 14px;
}
.hover {
	display: none;
	padding-left: 29px;
	&:hover {
		outline: 1px solid #b3b8c0;
		box-sizing: border-box;
		width: calc(100% - 2px);
		margin-left: 1px;
	}
}
.registration {
	font-family: "Apple SD Gothic Neo";
	&-title {
		margin: 16px;
		font-size: 14px;
		color: "#eee";
	}
	&-list-item {
		&-link {
			padding: 4px 0;
			justify-content: space-between;
		}
		&-title {
			padding: 4px 4px 4px;
			&-input {
				span {
					font-size: 13px;
					align-items: center;
					width: 145px;
					height: 24px;
				}
				input {
					width: 130%;
				}
			}
			&:hover {
				outline: 1px solid #b3b8c0;
				box-sizing: border-box;
				width: calc(100% - 2px);
				margin-left: 1px;
				.icon-hover {
					display: flex;
				}
			}
		}
		&-title,
		&-link {
			display: flex;
			align-items: center;
			font-size: 12px;

			a {
				background-color: #383d48;
				width: 20px;
				height: 20px;
				border-radius: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 16px;
			}
			input {
				height: 25px;
				font-size: 13px;
				background-color: transparent;
				border: 0;
				outline: 0;
				color: #e8ebed;
				box-sizing: border-box;

				&:focus {
					background-color: #fff;
					color: #383d48;
				}
			}
			.arrow {
				transition: 0.3s;
				transform: rotate(0deg);
				width: 15px;
				height: 15px;
				background: url("../../images/pages/arrow-left.png") no-repeat center
					center;
				padding-right: 10px;
			}
		}

		.icon-hover {
			display: none;
			align-items: center;
			&:hover {
				display: flex;
			}
		}
		.icon-link-box {
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				background-color: rgba(13, 16, 26, 0.7);
				border-radius: 4px;
			}
		}
		.icon-link {
			width: 12px;
			height: 12px;
			margin-right: 4px;
			background: url("../../images/pages/link.png") no-repeat center center;
			background-size: contain;
		}
		.chain {
			display: block;
			width: 9px;
			height: 9px;
			background: url("../../images/pages/chain.png") no-repeat center center;
			background-size: contain;
		}
		.actions {
			display: flex;
		}
		.icon-trash {
			width: 24px;
			height: 24px;
			background: url("../../images/pages/trash.png") no-repeat center center;
			margin: 0;
			&:hover {
				background-color: rgba(13, 16, 26, 0.7);
				border-radius: 4px;
			}
		}
		&-delect {
			margin-left: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 36px;
			background-color: #383d48;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	.active {
		background-color: #252a35;
		.hover {
			display: block;
			align-items: center;
		}
		.arrow {
			transition: 0.3s;
			transform: rotate(90deg);
		}
	}
}
.ceateSection {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		width: 100%;
		height: 36px;
		background-color: #252a35;
		border-radius: 5px;
		color: #fff;
		font-size: 12px;
		&:hover {
			background-color: #0bcea5;
		}
	}
}
