.page-wrap {
  display: inline-block;
  width: 200px;
  height: 100%;
  vertical-align: top;
  background: #eeeeee;
  .page-list {
    width: 80px;
    margin: 0 auto;
    .item {
      height: 158px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .number-input {
        text-align: center;
      }
    }
  }
}
